.project-container{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 650px) {
    .project-container{
        height: 250vh;
        margin-left: 0%;
        align-items: start;
        width: 100%;
        padding: 0%;
    }
   .div-cards{
    padding: 0%;
   }
  
}